<PageTitle>Home</PageTitle>

<div class="flex justify-between items-center">
    <PageHeader Size="PageHeader.Sizes.H2">Reservations</PageHeader>

    <button @onclick="GotoReservation" class="btn bg-blue-500 text-white ml-auto py-2 px-4 rounded">
        Add reservation
    </button>
</div>

<p>All reservations</p>

@if (Reservations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200">
            <thead class="bg-gray-100">
                <tr>
                    <th class="border px-4 py-2 text-left">Id</th>
                    <th class="border px-4 py-2 text-left">Vehicle</th>
                    <th class="border px-4 py-2 text-left">From</th>
                    <th class="border px-4 py-2 text-left">Until</th>
                    <th class="border px-4 py-2 text-left">By</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Reservations)
                {
                    <tr class="even:bg-gray-50 odd:bg-white">
                        <td class="border px-4 py-2">@reservation.Id</td>
                        <td class="border px-4 py-2">@reservation.Vehicle.Brand @reservation.Vehicle.Model</td>
                        <td class="border px-4 py-2">@reservation.From.ToString("dd-MM-yyyy HH:mm")</td>
                        <td class="border px-4 py-2">@reservation.Until.ToString("dd-MM-yyyy HH:mm")</td>
                        <td class="border px-4 py-2">@reservation.User.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
