@page "/login"
@using covadis.Shared.Requests
@inject HttpClient Http
@code {
    private LoginRequest loginRequest = new LoginRequest();
    private string errorMessage;
    private string token;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;
        try
        {
            var response = await Http.PostAsJsonAsync("api/auth", loginRequest); // Note the relative URL
            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadAsStringAsync();
                token = result;
            }
            else
            {
                errorMessage = "Login failed. Please check your credentials.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
        }
    }
}

<div class="h-screen items-center flex">
    <form class="max-w-md mx-auto" @onsubmit="HandleLogin">
        <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Je email</label>
            <input id="email" value="@loginRequest.Email" @oninput="@(e => loginRequest.Email = e.Value.ToString())" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" placeholder="Email" />
        </div>
        <div class="mb-5">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Je wachtwoord</label>
            <input id="password" value="@loginRequest.Password" @oninput="@(e => loginRequest.Password = e.Value.ToString())" type="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5" placeholder="Password" />
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Inloggen</button>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <p style="color:red">@errorMessage</p>
        }
    </form>
</div>
